﻿
@{
    ViewBag.Title = "AddDevice";
}



<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Add Device</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="post" action="/Device/AddDevice" id="frmDevice">
        <div class="box-body">
            <div class="row">
                <div class="col-lg-6">
                    <h4 style="float:right;border-bottom:1px solid">General</h4>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="systemName">SYSTEM NAME</label>
                        <input type="text" class="form-control" name="SystemName" id="systemName" placeholder="System Name">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="ASSETNUMBER">ASSET NUMBER</label>
                        <input type="text" class="form-control" name="ASSETNUMBER" id="ASSETNUMBER" placeholder="Asset Number">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="ASSETTYPE">ASSET TYPE</label>
                        <select id="ASSETTYPE" name="ASSETTYPE" class="form-control">
                            <option value="">--Select--</option>
                            <option value="Laptop">Laptop</option>
                            <option value="Desktop">Desktop</option>
                            <option value="Camera">Camera</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="DATEOFPURCHASE">DATE OF PURCHASE</label>
                        <input type="text" class="form-control" name="DATEOFPURCHASE" id="DATEOFPURCHASE" placeholder="Date Of Purchage">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="ASSETNUMBER">WARRENTY BEGIN</label>
                        <input type="text" class="form-control" name="WARRENTYBEGIN" id="WARRENTYBEGIN" placeholder="Warrenty Begin">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="WARRENTYEND">WARRENTY END</label>
                        <input type="text" class="form-control" name="WARRENTYEND" id="WARRENTYEND" placeholder="Warrenty End">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h4 style="float:right;border-bottom:1px solid">Hardware</h4>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="MANUFACTURER">MANUFACTURER</label>
                        <select id="MANUFACTURER" name="MANUFACTURER" class="form-control">
                            <option value="">--Select--</option>
                            <option value="Del">Del</option>
                            <option value="HP">HP</option>
                            <option value="Lenovo">Lenovo</option>
                            <option value="Assembled">Assembled</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="MODEL">MODEL</label>
                        <input type="text" class="form-control" name="MODEL" id="MODEL" placeholder="Model">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="SERIALNUMBER">SERIAL NUMBER</label>
                        <input type="text" class="form-control" name="SERIALNUMBER" id="SERIALNUMBER" placeholder="Serial Number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="PROCESSORTYPE">PROCESSOR TYPE</label>
                        <input type="text" class="form-control" name="PROCESSORTYPE" id="PROCESSORTYPE" placeholder="Processor Type">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="HDD">HDD</label>
                        <select id="HDD" name="HDD" class="form-control">
                            <option value="">--Select--</option>
                            <option value="500GB">500GB</option>
                            <option value="1TB">1TB</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="RAM">RAM</label>
                        <select id="RAM" name="RAM" class="form-control">
                            <option value="">--Select--</option>
                            <option value="2GB">2GB</option>
                            <option value="4GB">4GB</option>
                            
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="GRAPHICCARD">GRAPHIC CARD</label>
                        <input type="text" class="form-control" name="GRAPHICCARD" id="GRAPHICCARD" placeholder="Graphics Card">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="CDDVDROAM">CD/DVD ROAM</label>
                        <input type="text" class="form-control" name="CDDVDROAM" id="CDDVDROAM" placeholder="Cd/DVD ROAM">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="LOCATION">LOCATION</label>
                        <select id="LOCATION" name="LOCATION" class="form-control">
                            <option value="">--Select--</option>
                            <option value="Noida">Noida</option>
                            <option value="Bangalore">Bangalore</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="PURCHASEPRICE">PURCHASE PRICE</label>
                        <input type="text" class="form-control" name="PURCHASEPRICE" id="PURCHASEPRICE" placeholder="Purchase Price">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="DISPOSEDDATE">DISPOSED DATE</label>
                        <input type="text" class="form-control" name="DISPOSEDDATE" id="DISPOSEDDATE" placeholder="Disposed Date">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="ASSETDEPRECIATION">ASSET DEPRECIATION</label>
                        <textarea class="form-control" rows="3"name="ASSETDEPRECIATION" id="ASSETDEPRECIATION" placeholder="Asset Depreciation"></textarea>
                         
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="DEPRECIATIONMETHOD">DEPRECIATION METHOD</label>
                        <input type="text" class="form-control" name="DEPRECIATIONMETHOD" id="DEPRECIATIONMETHOD" placeholder="Depreciation Method">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="STATUS">STATUS</label>
                        <select id="STATUS" name="STATUS" class="form-control">
                            <option value="">--Select--</option>
                            <option value="New">New</option>
                            <option value="Used">Used</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="Remarks">Remarks</label>
                        <input type="text" class="form-control" name="Remarks" id="Remarks" placeholder="Remarks">
                    </div>
                </div>
            </div>



        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-default">Back To List</button>
            <span class="dangerMesg"></span>
            <span class="successMesg"></span>
            <button type="submit" id="btn-device" class="btn btn-info pull-right">Submit</button>
        </div>
    </form>
</div>

@section scripts
{
    <script src="~/Scripts/AppScript/add-device.js"></script>
    
}