﻿
@{
    ViewBag.Title = "AddSoftware";
}


<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Software Management</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" id="frmsoftware" name="frmsoftware" method="post" action="/Software/AddSoftware">
        <div class="box-body">
            <div class="row">
                <div class="col-lg-6">
                    <h4 style="float:right;border-bottom:1px solid">Add Software Company</h4>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="Title">Title</label>
                        <input type="text" class="form-control" name="Title" id="Title" placeholder="Title">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h4 style="float:right;border-bottom:1px solid">Add Software</h4>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="SOFTWAREID">SOFTWARE ID</label>
                        <input type="text" class="form-control" name="SOFTWAREID" id="SOFTWAREID" placeholder="Software Id">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="SOFTWARETYPE<">SOFTWARE TYPE</label>
                        <select class="form-control" id="SOFTWARETYPE" name="SOFTWARETYPE">
                            <option value="">--Select--</option>
                            <option value="Office">Office</option>
                            <option value="VisualStudio">Visual Studio</option>
                            <option value="InDesign">In Design</option>
                        </select>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="SOFTWARENAME">SOFTWARE NAME</label>
                        <input type="text" class="form-control" name="SOFTWARENAME" id="SOFTWARENAME" placeholder="Software Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="LICENCENUMBER">LICENCE NUMBER</label>
                        <input type="text" class="form-control" name="LICENCENUMBER" id="LICENCENUMBER" placeholder="Licence Number">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="MANUFACTURER">MANUFACTURER</label>
                        <select class="form-control" id="MANUFACTURER" name="MANUFACTURER">
                            <option value="">--Select--</option>
                            <option value="Microsoft">Microsoft</option>
                            <option value="Adobe">Adobe</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="NOOFLICESES">NO. OF LICESES</label>
                        <input type="text" class="form-control" name="NOOFLICESES" id="NOOFLICESES" placeholder="No. Of Liceses">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>PURCHASE DATE</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="PURCHASEDATE" class="form-control pull-right" id="PURCHASEDATE" placeholder="Purchase Date">
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="PURCHASEPRICE">PURCHASE PRICE</label>
                        <input type="number" class="form-control" name="PURCHASEPRICE" id="PURCHASEPRICE" placeholder="Purchase Price">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="PURCHASEDFROM">PURCHASED FROM</label>
                        <input type="text" class="form-control" name="PURCHASEDFROM" id="PURCHASEDFROM" placeholder="Purchase From">
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="NEXTRENEWALDATE">NEXT RENEWAL DATE</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control" name="NEXTRENEWALDATE" id="NEXTRENEWALDATE" placeholder="Next Renewal Date">
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-default">Back To List</button>
            <span id="dangerMesg"></span>
            <span id="successMesg"></span>
            <button type="submit" class="btn btn-info pull-right" id="btn-soft">Submit</button>
        </div>
    </form>
</div>

@section scripts
{
    <script src="~/Scripts/AppScript/add-software.js"></script>
}



