﻿<div class="modal fade" id="add_sub_category_model">
    <div class="modal-dialog">
        <form role="form" method="post" id="frmsubcategory" action="/DeviceCategory/AddSubcategory">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="btn_close_subcategory" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Add Subcategory</h4>
                </div>
                <div class="modal-body">

                    <div class="box-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Name" id="InputsubcategoryName" placeholder="Enter Subcategory Name">
                        </div>

                    </div>
                    <!-- /.box-body -->



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button id="btn-subcategory" type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

