﻿<div class="modal fade" id="add_category_model">
    <div class="modal-dialog">

        <form role="form" id="frmCategory" method="post" action="/DeviceCategory/AddCategory">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="btn_close_category" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Add Category</h4>
                </div>
                <div class="modal-body">

                    <div class="box-body">
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control" id="InputcategoryName" placeholder="Enter Category Name">
                        </div>

                    </div>
                    <!-- /.box-body -->



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button id="btn-category" type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

