﻿
<div class="modal fade" id="edit_category_model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btn-close_editcategory" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Update Category</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="frmEditCategory" method="post" action="/DeviceCategory/UpdateCategory">
                    <div class="box-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Name" id="InputcategoryEditName">
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="btn_edit_category" class="btn btn-primary">Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
