﻿
@{
    ViewBag.Title = "Sub-Category";
}

<div class="box box-info">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="box-title">Sub Category List</h3>
            </div>
            <div class="col-sm-6">
                <button type="button" data-toggle="modal" data-target="#add_sub_category_model" class="btn btn-sm btn-primary" style="float:right">Add New</button>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div id="tbl_sub_category_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="tbl__sub_category" class="table table-hover dataTable table-bordered nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Created Date</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Created Date</th>
                                <th>Action</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade noprint" id="del__sub_Opener" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-popup-header">
                <button type="button" class="close" data-dismiss="modal" id="btn_closeConfirm">&times;</button>
                <h1 class="modal-title">Do You Want To Delete?</h1>
            </div>
            <div class="modal-body text-center">
                <h5>Are you sure want to delete this Subcategory</h5>
                <button class="btn btn-danger form-submit-btn" style="background:#3276b1; border-color:#3276b1">Yes</button>
                <button data-dismiss="modal" class="btn btn-danger form-submit-btn">No</button>
            </div>
        </div>

    </div>
</div>

@Html.Partial("~/Views/DeviceCategory/_addsubcategory.cshtml")
@Html.Partial("~/Views/DeviceCategory/_editsubcategory.cshtml")



@section scripts
{
    <script src="~/Scripts/AppScript/sub-category.js"></script>
  
}


